services:
  mariadb:
    image: mariadb:11
    environment:
      MARIADB_DATABASE: elliott
      MARIADB_ROOT_USER: root
      MARIADB_ROOT_PASSWORD: password
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 15
